/* html, */
#body {
  font-size: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  background: url(https://get.pxhere.com/photo/light-abstract-photography-glass-crowd-color-blue-stadium-close-up-ball-balls-shape-macro-photography-spheres-hd-wallpaper-atmosphere-of-earth-computer-wallpaper-sport-venue-911268.jpg) 0 0 / cover;
}
/* .background{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
} */

img {
  display: none;
}

/* header */
#header {
  display: flex; 
  flex-direction: row;
  background-color: rgb(15, 111, 198);
  justify-content: space-between;
  align-items: center;
  top: 0px; 
  height: 15vh;
}
.headerTxt {
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.btnHeader{
  color: black;
  height: 5vh;
  width: 5vw;
  margin: 5%
}
/* Main */
.menu{
  background-color: "red";
  width: 50%;
  height: 100%;
  top: 15vh;
}